<div class="container-fluid" style="position: relative;" >
         <img src='https://www.w3schools.com/css/img_lights.jpg'
            width='1400px' height='800px'/ style="position: absolute; top:0; left:0; z-index:1">

            <div class="jumbotron jumbotron-fluid" style="position: relative;z-index:5;color:white;">
                <center>
                    <h2 class="a">Cats are cool</h2>
                </center>

            </div>
</div>


