<style>
  .zoom {
    transition: transform .2s;
    /* Animation */
  }
  .zoom:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
</style>
<div class="row">
<div class="w3-main" style="margin-left:25rem">

  
  <div class="w3-row w3-padding-64 w3-center">
    <div class="w3-twothird w3-container">
      <div class="card " style="max-width: 370px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.pexels.com/photos/3825586/pexels-photo-3825586.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img" alt="" style="height: 10em;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Doctors</h5>
        <p class="card-text">Available : 3</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
      
    </div>
    
  </div>


<div class="w3-row">
    <div class="w3-twothird w3-container">
      <div class="card mb-3" style="max-width: 370px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://parenting.uwhealth.org/wp-content/uploads/2019/04/shutterstock_379214611_410-300x300.png" class="card-img" alt="" style="height: 10em;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Patients</h5>
        <p class="card-text">Admitted : 6</p>
        <p class="card-text"><small class="text-muted">Last updated 6 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
    </div>
    

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <div class="card mb-3" style="max-width: 370px;margin-top:4rem">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1522241112606-b5d35a468795?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9" class="card-img" alt="" style="height: 10em;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Appointments</h5>
        <p class="card-text">confirmed : 12</p>
        <p class="card-text"><small class="text-muted">Last updated 8 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>

  </div>
</div>