

<section>
    <div class="container mt-5">
        <div class="row">
            {{#each doctors}}
            <div class="col-md-3 mr-5">
                <div class="card mt-5" style="width: 18rem;">
                    <img class="card-img-top" style="height: 15rem;"
                        src=""
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"
                            style="font-weight: bold; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                            Dr.Wes Anderson</h5>
                        <p class="card-text">Committed to bring a world class healthcare experience to our patients.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary" style="width:200px">Book</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            
           

        </div>
        
    </div>
    </div>
</section>